password    =   "putyourpasswordhere"
username    =   "admin"
controller_ip = "controller-ip-here"
aws_account_name = ""
az_account_name   = "azure-mwb-aviatrix"
gcp_account_name    = "gcp-mwb-aviatrix"
aws_spoke_instance_size = "t3.medium"
aws_spoke1_region = "eu-central-1"
aws_spoke1_name = "mcn-aws-spoke1"
aws_spoke1_cidr = "10.101.0.0/16"
aws_spoke2_region = "eu-central-1"
aws_spoke2_name = "mcn-aws-spoke2"
aws_spoke2_cidr  = "10.102.0.0/16"
az_spoke_instance_size = "Standard_B1ms"
az_spoke1_region  = "West Europe"
az_spoke1_name = "mcn-az-r1-spoke1"
az_spoke1_cidr = "10.110.0.0/16"
az_spoke2_region = "UK South"
az_spoke2_name = "mcn-az-r2-spoke1"
az_spoke2_cidr = "10.111.0.0/16"
# az_spoke3_region = "UK South"
# az_spoke3_name   = "az-r3-spoke1"
# az_spoke3_cidr   = "10.112.0.0/16"
gcp_spoke_instance_size = "n1-standard-1"
gcp_spoke1_region = "europe-west1"
gcp_spoke1_name = "mcn-gcp-spoke1"
gcp_spoke1_cidr  = "10.120.0.0/16"
gcp_spoke2_region = "europe-west1"
gcp_spoke2_name = "mcn-gcp-spoke2"
gcp_spoke2_cidr = "10.121.0.0/16"
aws_test_instance_size = "t2.micro"
# mc_transit_region = "eu-central-1"
# mc_transit_name = "avx-trns1"
# mc_transit_cidr = "10.21.0.0/16"
aws_linux_ami_search_name = "*al2023-ami-2023.1.20230825.0-kernel-6.1-x86_64*"
azureuser = "putyourpasswordhere"
ha_enabled = false
ha_gw = false
